		#title{
			font-size:40px;
			font-family: didot;
			font-family: "Leckerli One", cursive;
 			font-weight: 400;
  			font-style: normal;
			}

		

		body {
			background-color: #daedfe;
			font-size: 25px;
			color: #976f6e;
		font-family: "Reenie Beanie", cursive;

			}

			a{
				  font-weight: 400;
				  font-style: normal;
				  text-decoration: none;
				color: #ec7699;
				
				
			}

			#home:hover{
				background-color: #ffef86;
				transition: 2s;
			}

			.key{
			width:50px;
			height:35px;
			background-color:white;
			text-align:center;
			padding:25px;
			border:1px solid black;
			border-radius:5%;
			display:inline-block;
			margin:3px;
			font-size:20px;
			font-family:courier;
		}
		
		#topoftw{
			width:80%;
			height:300px;
			background-color:whitesmoke;
			border-radius:5%;
		}
		.journalentry {
			width: 75%;
			height: 300%;
			margin: 5%;
			font-family: "courier";
			font-size: 90%;
			position: relative;
			top: -600px;
			left: 100px;

		}


